In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("spotify_millsongdata.csv")

In [5]:
df = df.sample(5000).reset_index(drop=True)

In [6]:
df.head(5)

,artist,song,link,text
0,Ozzy Osbourne,You're No Different,/o/ozzy+osbourne/youre+no+different_20354560.html,How many times can you put me down \r\nTill i...
1,Nitty Gritty Dirt Band,High Horse,/n/nitty+gritty+dirt+band/high+horse_20212441....,"Get up on your high horse, woman \r\nGet up o..."
2,Chuck Berry,Childhood Sweetheart,/c/chuck+berry/childhood+sweetheart_20165843.html,"Last night, I had a beautiful dream \r\nLast ..."
3,Red Hot Chili Peppers,Behind The Sun,/r/red+hot+chili+peppers/behind+the+sun_201148...,One day while bathing in the sea \r\nMy talki...
4,"Harry Connick, Jr.",To Love The Language,/h/harry+connick+jr/to+love+the+language_20064...,"I is just what I was, \r\nAnd am ain't who I ..."

In [7]:
df.tail(5)

,artist,song,link,text
4995,Tiffany,Good Enough For Me,/t/tiffany/good+enough+for+me_20204112.html,Sometimes I like to sit and watch the clouds f...
4996,Irving Berlin,I Never Had A Chance,/i/irving+berlin/i+never+had+a+chance_20496785...,I guess there's nothing to do \r\nAnd nothing...
4997,Bob Dylan,Big Yellow Taxi,/b/bob+dylan/big+yellow+taxi_20021351.html,"They pave paradise, they put up a parking lot ..."
4998,Rage Against The Machine,Bullet In The Head,/r/rage+against+the+machine/bullet+in+the+head...,This time the bullet cold rocked ya \r\nA yel...
4999,Pearl Jam,Deep,/p/pearl+jam/deep_20106367.html,On the edge \r\nWindowsill \r\nPonders his m...

In [8]:
df.shape

(5000, 4)

In [9]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [10]:
df.head(10)

,artist,song,link,text
0,Ozzy Osbourne,You're No Different,/o/ozzy+osbourne/youre+no+different_20354560.html,How many times can you put me down \r\nTill i...
1,Nitty Gritty Dirt Band,High Horse,/n/nitty+gritty+dirt+band/high+horse_20212441....,"Get up on your high horse, woman \r\nGet up o..."
2,Chuck Berry,Childhood Sweetheart,/c/chuck+berry/childhood+sweetheart_20165843.html,"Last night, I had a beautiful dream \r\nLast ..."
3,Red Hot Chili Peppers,Behind The Sun,/r/red+hot+chili+peppers/behind+the+sun_201148...,One day while bathing in the sea \r\nMy talki...
4,"Harry Connick, Jr.",To Love The Language,/h/harry+connick+jr/to+love+the+language_20064...,"I is just what I was, \r\nAnd am ain't who I ..."
5,David Allan Coe,A Sense Of Humor,/d/david+allan+coe/a+sense+of+humor_20276101.html,Every night another woman every day a differen...
6,Young Buck,War Witcha Homeboy,/y/young+buck/war+witcha+homeboy_20404163.html,"[Intro] \r\nNigga, G-Unit Nigga!! \r\nDayum...."
7,Talking Heads,Pull Up The Roots,/t/talking+heads/pull+up+the+roots_20135124.html,Hello again \r\nYes indeed my friend \r\nI c...
8,George Strait,My Infinite Love,/g/george+strait/my+infinite+love_10130468.html,When you see a shooting star in the night \r\...
9,George Michael,American Angel,/g/george+michael/american+angel_10130024.html,"Bless the day you came into my life, I still r..."

In [11]:
df['text'][0]

"How many times can you put me down  \r\nTill in your heart you realize  \r\nIf you choose to criticize  \r\nYou choose your enemies  \r\n  \r\nEverything that I say and do  \r\nIn your eyes is always wrong  \r\nTell me where do I belong  \r\nIn a sick society  \r\n  \r\nYou're no different to me  \r\nYou're no different  \r\nNo different to me  \r\n  \r\nLook at yourself instead o' looking at me  \r\nWith accusation in your eyes  \r\nDo you want me crucified  \r\nFor my profanity  \r\n  \r\nConcealing your crimes behind a  \r\nGrandeur of lies  \r\nTell me where do I begin  \r\nIf you think you're without sin  \r\nThe first to cast the stone  \r\n  \r\nLiving my life in a way  \r\nThat I choose  \r\nYou say I should apologize  \r\nIs that envy in your eyes  \r\nReflecting jealousy  \r\n  \r\nTell me the truth and I'll admit  \r\nTo my guilt  \r\nIf you'll try to understand  \r\nBut is that blood that's on your hand  \r\nFrom your democracy\r\n\r\n"

In [12]:
# df = df.sample(5000)

In [13]:
df.shape

(5000, 4)

Text Cleaning/ Text Preprocessing

In [14]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [15]:
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

In [16]:
import nltk
print(nltk.data.path)

nltk.download('punkt', download_dir='C:\\Users\\Asus/nltk_data')

['C:\\Users\\Asus/nltk_data', 'c:\\ProgramData\\anaconda3\\nltk_data', 'c:\\ProgramData\\anaconda3\\share\\nltk_data', 'c:\\ProgramData\\anaconda3\\lib\\nltk_data', 'C:\\Users\\Asus\\AppData\\Roaming\\nltk_data', 'C:\\nltk_data', 'D:\\nltk_data', 'E:\\nltk_data']

[nltk_data] Downloading package punkt to C:\Users\Asus/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [17]:
from nltk.tokenize import word_tokenize

text = "This is a test sentence."
tokens = word_tokenize(text)
print(tokens)

['This', 'is', 'a', 'test', 'sentence', '.']

In [18]:
df['text'] = df['text'].apply(lambda x: tokenization(x))

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [20]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [21]:
similarity[0]

array([1.        , 0.00682004, 0.0351916 , ..., 0.03079587, 0.02672047,
       0.        ])

In [22]:
df[df['song'] == 'Crying Over You']

Empty DataFrame
Columns: [artist, song, link, text]
Index: []

In [23]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [26]:
import pickle
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))

In [28]:
import gzip
import pickle

def compress_pickle(file_path):
    # Load the object to be pickled
    with open(file_path, 'rb') as f:
        data = pickle.load(f)

    # Compress the pickle file
    with gzip.open(file_path + '.gz', 'wb') as f:
        pickle.dump(data, f)

# Usage
compress_pickle('df.pkl')